# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Dart / Flutter
# =========================
.dart_tool/
.packages
.pub-cache/

coverage/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
